__pycache__/
*.py[cod]
.venv/
venv/
.env
.aws-sam/
samconfig.toml
layer/*/python/*
!layer/*/python/.gitkeep
data/input/*
!data/input/.gitkeep
data/output/*
!data/output/.gitkeep
.vscode/
.idea/
.DS_Store
